.espaco-eventos-beneficiario-geral {
    width: 100%;
    height: 55vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

.espaco-eventos-beneficiario-engloba-eventos {
    width: 95%;
    height: 95%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espaco-eventos-beneficiario-eventos {
    width: 90%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.espaco-eventos-beneficiario-lista {
    margin-top: 30px;
    width: 80%;
    height: 90%; 
    background-color: white;
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    flex-direction: column;
    gap: 5px;
    max-height: 400px;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

/* Barra de rolagem estilizada para navegadores Webkit (Chrome, Edge, Safari) */
.espaco-eventos-beneficiario-lista::-webkit-scrollbar {
    width: 8px;
    background: #ffffff;
    border-radius: 4px;
}

.espaco-eventos-beneficiario-lista::-webkit-scrollbar-thumb {
    background: #b97cb9;
    border-radius: 4px;
}

/* Barra de rolagem estilizada para Firefox */
.espaco-eventos-beneficiario-lista {
    scrollbar-width: thin;
    scrollbar-color: #cacaca #ffffff;
}

.eventos-beneficiario-lista {
    margin-top: 2px;
    width: 98%;
    min-height: 140px; 
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.eventos-foto-beneficiario {
    display: flex;
    margin: 2px;
    height: 90%;
    width: 17%;
}

.eventos-descricao-beneficiario {
    display: flex;
    margin: 2px;
    height: 90%;
    width: 30%;
    background-color: white;
    flex-direction: column;
}

.eventos-titulo-beneficiario {
    height: 50%;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: white;
}

.eventos-tipocategoria-beneficiario {
    height: 50%;
    width: 100%;
    display: flex;
    font-size: 18px;
    background-color: white;
    flex-direction: column;
    gap: 5px;
}

.eventos-categoria-beneficiario {
    display: flex;
    height: 50%;
    width: fit-content;
    border-radius: 60px;
    background-color: rgb(79, 189, 52);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
}

.eventos-status-beneficiario {
    display: flex;
    height: 50%;
    width: fit-content;
    background-color: white;
    border-radius: 60px;
    background-color: #FFBB00;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
}

.eventos-data-beneficiario {
    display: flex;
    margin: 2px;
    height: 90%;
    width: 14%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}



.eventos-pessoas-beneficiario {
    display: flex;
    margin: 2px;
    height: 90%;
    width: 14%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos-tiposbotoes-beneficiario {
    display: flex;
    margin: 2px;
    height: 90%;
    width: 21%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.eventos-tiposbotoes-beneficiario button {
    height: 35%;
    width: 80%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 0px;
    color: white;
    border: none;
    text-decoration: none;
}

a{
        text-decoration: none;
}