@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.boxTopFeedback {
    background-color: white;
    width: 95%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxDashboardFeedback {
    background-color: green;
    display: flex;
    width: 95%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.tituloFeedback {
    background-color: #F2F4F8;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    font-size: 42px;
    font-weight: 800;

}

.dashPalestra {
    background-color: orchid;
    width: 50%;
    height: 85%;

}

.dashQuantidadeFeedback {
    background-color: yellow;
    width: 50%;
    height: 85%;
}

.tituloDash {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 1.15rem;
    color: #222;
}

.descricaoDash {
    font-size: 0.97rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 12px;
}

.descDashPalestra,
.descDashFeedback {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 12px;
    line-height: 1.4;
}

/* Parte de baixo */
.boxLowFeedback {
    background-color: white;
    width: 95%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxListaFeedback {
    background-color: green;
    display: flex;
    width: 95%;
    height: 80%;
    justify-content: start;
    align-items: center;
    gap: 3%;
    flex-direction: column;

}

.colunas {
    background-color: #F2F4F8;
    display: flex;
    width: 100%;
    height: 14%;
}

.colunaFeedback {
    width: 25%;
    height: 100%;
}

.colunaNome {
    width: 20%;
    height: 100%;
}

.colunaEmail {
    width: 20%;
    height: 100%;
}

.linhas {
    background-color: white;
    display: flex;
    width: 100%;
    height: 14%;
}

.boxBotaoFeedback {
    display: flex;
    height: 100%;
    width: 35%;
    justify-content: end;
    align-items: center;

}

.botaoMaisInfoFeedback {
    background-color: #0F62FE;
    color: white;
    border: none;
    width: 70%;              /* diminuído */
    height: 2rem;            /* diminuído */
    padding: 0.3rem 0.8rem;  /* padding menor */
    font-size: 0.75rem;      /* fonte menor */
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
    font-family: 'Montserrat', Arial, sans-serif;
}



.botaoMaisInfoFeedback:hover {
    background-color: #2563eb;
    transform: translateY(-2px) scale(1.04);
}